---
layout: post
title: "Why Blockchain?"
subtitle: "The Stone Age didn't end because we ran out of stones!"
date: 2021-03-27 10:45:13 -0400
background: '/img/posts/fire.png'
---
<p>I had a buddy who really liked to gamble. Sports betting was his thing. He would wake up in the morning, read all the blogs, all the news, check all the games, and place his bets. Sometimes he would win, sometimes he would lose. I loved his conviction and belief that betting was it, that he could make a living out of it. I suppose that was the adrenaline talking out of him.</p>

{% for image in site.static_files %}
{% if image.path contains 'assets/images/gamblers.png' %}
<img class="img_fluid" src="{{ image.path }}" alt="Gamblers Image">
{% endif %}
{% endfor %}

<p>Crypto is pretty much the same these days. All the gamblers went to crypto like flies to manure. Behind all the pump and dump, get rich quick schemes, there is however a strong attraction toward ideas presented by blockchain technology, almost at an unconscious level.</p>

<p>I must admit I am not like my friend. I wouldn't mind getting rich quick, especially for nothing, but that's not something that drives me.</p>

<p>I have always been fascinated with macroeconomics and the role of money in the economy. To be frank, on the opposite I didn't understand it, I was only thinking and analyzing the pieces of the overall puzzle which combined dictate an economy of a country. Now, this new form of money is being developed, enabling smooth financing and international exchange of value across the world.</p>

<p>Despite the curiosity about economics, I spent eight years of my life invested in Petroleum Engineering. I liked that vocation. It was exciting to look for the black gold. Nevertheless, I'm back to feed my initial curiosity and now I am ready to continue my search but this time for another form of gold, a digital treasure in many forms and shapes.</p>

<h2 class="section-heading">Tell Me Why</h2>
<p>Let me clear out some terminology before proceeding.</p>
<ul>
    <li>Cryptocurrency: A medium of exchange, such as the US dollar, but is digital and uses encryption techniques to control the creation of monetary units and to verify the transfer of funds. Commonly referred to through text as Crypto.</li>
    <li>Blockchain: The technology that enables the existence of cryptocurrency.</li>
</ul>

<p>Mining is the process of verifying transactions which are then added to the blockchain. Miners compete in a system that almost resembles a lottery. This randomness ensures that no one controls the system.
    You cannot be denied access to this system, all you need is an Internet connection and a smartphone or a laptop to exchange cryptocurrency. With the inclusion and the freedom of the system comes great responsibility. Users are completely in charge of managing their funds, there is no central place or customer service in case the user loses the password for their wallet.</p>

{% for image in site.static_files %}
{% if image.path contains 'assets/images/mining.png' %}
<img class="img_fluid" src="{{ image.path }}" alt="Gamblers Image">
{% endif %}
{% endfor %}

<p>These are the attributes of blockchains that make them unique:</p>

<p><b>Revolutionary:</b> Similar to the Internet and the automobile, cryptocurrencies are revolutionary and can change the world.
    The power structure of the current financial system will be shaken and reshaped for the better.</p>

<p><b>Immutable:</b> Blockchains are immutable and tamper-evident. While our ancestors said written in stone, our children will say written on the blockchain.</p>

<p><b>Public:</b> Blockchains are public, flat networks between participants. Peer to peer. No one controls what transactions can take place and all the data is verifiable and auditable by anyone.</p>

<p><b>Collaborative:</b> Gone are the days when our only options are opaque banking systems. Volunteer participants on the protocol work together to run the network and collaborate to establish and enforce consensus rules.</p>

<p><b>Open:</b> Anyone can participate on the blockchain. There are no barriers to entry, no borders, and no permission is required. If you have an Internet-connected smartphone, you have all you need to participate.</p>

<p><b>Censorship-resistant:</b> Crypto is resistant to censorship, interference, seizure,  manipulation, or control, which makes it neutral to all participants and all transactions. It is not controlled by governments or banks or corporations. Blockchain is controlled by the people.</p>

<p><b>Decentralized:</b> Crypto’s greatest strength is that it is not controlled by a central authority, but rather it is a decentralized protocol.</p>

<p>At its core, blockchains are neutral platforms. These networks do not, cannot prioritize, or censor any transaction based on anything other than the adherence to the consensus protocols.</p>

<p>A financial world truly controlled by computer code would be brutal and would make it a tyranny rather than liberation from the old worn out financial systems and I believe we will see a variety of blockchain implementations with various degrees of decentralization.</p>
